.Quiz {
  width:800px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 90px;
  text-align: center;
}

.input200 {
  font-family: Benton-sans;
  font-size: 15px;
  line-height: 1.5;
  color: #ffffff;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}


.Q_n_Dash {
  position: relative;
  top: 50%;
  margin-top: 50px;
  max-width: 500px;
}

.login200_btn {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4420f7), color-stop(1, #253bfa) );
  background:-moz-linear-gradient( center top, #4420f7 5%, #253bfa 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4420f7', endColorstr='#253bfa');
  background-color:#4420f7;
  -webkit-border-top-left-radius:20px;
  -moz-border-radius-topleft:20px;
  border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;
  -moz-border-radius-topright:20px;
  border-top-right-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  -moz-border-radius-bottomright:20px;
  border-bottom-right-radius:20px;
  -webkit-border-bottom-left-radius:20px;
  -moz-border-radius-bottomleft:20px;
  border-bottom-left-radius:20px;
  text-indent:-3px;
  display:inline-block;
  color:#ffffff;
  font-family:Benton-sans;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:50px;
  line-height:50px;
  width:100px;
  text-decoration:none;
  text-align:center;
}.login200_btn:hover {
   background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #253bfa), color-stop(1, #4420f7) );
   background:-moz-linear-gradient( center top, #253bfa 5%, #4420f7 100% );
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#253bfa', endColorstr='#4420f7');
   background-color:#253bfa;
 }.login200_btn:active {
    position:relative;
    top:1px;
  }