[id='take-quiz'] {
  .container {

    /* added code, removed .container.md(); */
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;

  }

  /* The Modal (background) */

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.95); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-header {
    background-color: #111111;
    color: white;
    border: #0b2e13;
  }

  .modal-body {padding: 2px 16px;}

  .modal-footer {
    text-align: center;
    background-color: #3399ff;
    color: white;
  }
  .footerText {
    width: 100%;
    padding-right: auto;
    padding-left: auto;
  }

  //====================================================================================================================

  #answers {
    display: block;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20%S;
    padding-right: auto;
  }

  button {
    background: #444444;
    width: 500px;
    border-radius: 7px;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    alignment: center;
    right: 20px;
    padding: 2px;
  }
  /* all added code for createquiz and createquestions */
  .input200 {
    font-family: Benton-sans;
    font-size: 40px;
    line-height: 1.5;
    color: #ffffff;

    //display: inline;
    margin: 0 auto;
    width: 70%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 300px 0 68px;
  }
  .input300 {
    font-family: Benton-sans;
    font-size: 40px;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;

    display: block;
    width: 90%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
    margin-bottom: 15px;
  }

  .input400 {
    font-family: Benton-sans;
    font-size: 30px;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;

    display: block;
    width: 50%;
    background: #e6e6e6;
    height: 40px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
    margin-bottom: 20px;
  }
  .Quiz {
    margin-top: 20px;
  }
}
h1 {
  padding-top: 2%;
  text-align: center;
}

RadQues {
  display: inline;
  float: left;
}