<!DOCTYPE html>
<html>
<head>
    <title>PS Intern Project</title>

    <% /* Viewport tag for sensible mobile support */ %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 <!-- style for the div -->
    <style>
        .bordert {
            border: solid black 2px;
            border-radius:25px;
            border-style: solid;
        }
    </style>

    <% /* Auto-injected «link» tags: */ %>
    <!--STYLES-->
    <link rel="stylesheet" href="/min/production.min.css">
    <!--STYLES END-->
</head>

<body>
<div id="page-wrap">
    <header id="page-header" class="navbar navbar-expand-sm navbar-dark bg-dark flex-column flex-md-row justify-content-between">
        <a href="/">
            <img class="pull-left" src="/images/SAP_scrn_R.png" />
        </a>

        <div class="navbar-nav flex-row">
            <!-- LOGGED-IN NAVIGATION -->
            <% if(me) { %>

            <!-- Only in desktop nav -->
            <div class="nav-item dropdown d-none d-sm-block">
                <a class="nav-link dropdown-toggle" id="header-account-menu-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                <div class="dropdown-menu account-menu" aria-labelledby="header-account-menu-link">
                    <a class="dropdown-item" href="/account">Settings</a>
                    <a class="dropdown-item" href="/logout">Sign out</a>
                </div>
            </div>
            <!-- Only in mobile nav -->
            <a class="nav-item nav-link ml-2 mr-2 d-block d-sm-none" href="/account">Account Settings</a>
            <a class="nav-item nav-link ml-2 mr-2 d-block d-sm-none" href="/logout">Sign out</a>
            <% } else { %>
            <!-- LOGGED-OUT NAVIGATION -->
            <a class="nav-item nav-link ml-2 ml-md-0 mr-2" href="/login">Log in</a>
            <!-- Only in desktop nav -->
            <div class="form-inline d-none ml-2 d-md-block" >
                <a class="btn btn-outline-info" href="/signup">Sign up</a>
            </div>
            <!-- Only in mobile nav -->
            <a class="nav-item nav-link text-info ml-2 d-block d-md-none" href="/signup">Sign up</a>
            <% } %>
        </div>
    </header>

    <!-- Alert if email has not been confirmed -->
    <% if(me&&me.emailChangeCandidate) { %>
    <div class="container-fluid">
        <div class="alert alert-secondary mt-2" role="alert">
            Your updated email address needs verification. Until you click the link sent to <strong><%= me.emailChangeCandidate %></strong>, you'll still need to sign in as <strong><%= me.emailAddress %></strong>.
        </div>
    </div>
    <% } else if(me&&me.emailStatus === 'unconfirmed') { %>
    <div class="container-fluid">
        <div class="alert alert-secondary mt-2" role="alert">
            Your email address still needs verification. Your account access may be limited until you click the link sent to <strong><%= me.emailChangeCandidate ? me.emailChangeCandidate : me.emailAddress%></strong>.
        </div>
    </div>
    <% } %>

    <%- body %>

    <footer id="page-footer" class="navbar navbar-light justify-content-between flex-row-reverse">
        <div class="nav">
            <small class="nav-item"><a class="nav-link text-info" href="/legal/privacy">Terms<span class="d-none d-sm-inline"> of Use</span></a></small>
            <% if(me) { %>

            <% } %>
        </div>
        <small class="copy">PS Intern Project <br class="xs-only"/>All rights reserved.</small>
    </footer>
</div>


<% /*
      Client-side JavaScript
      ========================

      Scripts can be hard-coded as «script» tags, automatically injected
      by the asset pipeline between "SCRIPTS" and "SCRIPTS END", or both.
      (https://sailsjs.com/docs/concepts/assets/task-automation)
    */ %>

<% /* Load Stripe Checkout */ %>
<script src="https://checkout.stripe.com/checkout.js"></script>

<% /* Delete the global `self` to help avoid client-side bugs.
    (see https://developer.mozilla.org/en-US/docs/Web/API/Window/self) */ %>
<script>delete window.self;</script>

<% /* Auto-injected «script» tags: */ %>
<!--SCRIPTS-->
<script src="/min/production.min.js"></script>
<!--SCRIPTS END-->
</body>
</html>
