<!-- This page displays the list of quizzes created for the particular user logged in-->


<script>


</script>

<div class = "center12" style="margin: 0 auto">
    <div class="table-responsive col-md-12">
        <table class="table table-bordered table-striped table-hover table-condensed  text-center" id="DyanmicTable">
            <h1>Quizzes  </h1>

            <thead>
            <th>Quiz Name</th>
            <th>Quiz Id</th>
            <th>Times Taken</th>
            <th>Analytics</th>
            <th>Edit</th>
            <th>Delete</th>

            </thead>
            <!---- loops through all quizzes created and displays them -->
            <% for(var i=0; i < quiz.length; i++) { %>
            <tr>
                <td>
                    <%= quiz[i].quiz_name %>
                </td>
                <td>
                    <%= quiz[i].id %>
                </td>
                <td>
                    <%= count[i]%>
                </td>

                <td>
                    <i onclick="viewAnalytics(<%= quiz[i].id %>)" class="fa fa-bar-chart w3-margin-bottom w3-text-theme" style="font-size:30px"></i>

                </td>
                <td>
                    <i onclick="updateQuiz(<%= quiz[i].id %>)" class="fa fa-edit" style="font-size:30px"></i>

                </td>
                <div id=buttons">
                <td>
                    <i <input type="image" onclick="deleteQuiz(this, '<%= quiz[i].id %>')"class="fa fa-trash" style="font-size:30px"? </i>
                </input>

                </td>
                 </div>
            </tr>
            <% } %>
            </tbody>

        </table>
        <!--These post the quiz code to the next action depending what button is clicked-->
        <form id="myform" action="/delete" method="post">
            <input type="hidden" name="_csrf" value="<%= _csrf %>">
            <input type="hidden" name="code" id="code" value="hry">
        </form>
        <form id="analyticForm" action="/analytic">
            <input type="hidden" name="_csrf" value="<%=_csrf %>">
            <input type="hidden" id="quiz_code" name="quiz_code" value="0">
        </form>
        <form id="updateForm" action="/updatequiz">
            <input type="hidden" name="_csrf" value="<%=_csrf %>">
            <input type="hidden" id="id" name="id" value="0">
        </form>
    </div>
</div>


<script>
    function deleteQuiz(x, y) {

        if (confirm("Are you sure you ?")){
            document.getElementById("code").value = y;
            document.getElementById("myform").submit();
            //window.location.href =  '/delete?id=' + y;
        }

            else
                return false;
    }

    function viewAnalytics(quiz_id) {
        document.getElementById("quiz_code").value = quiz_id;
        document.getElementById("analyticForm").submit();
    }

    function updateQuiz(quiz_id) {
        document.getElementById("id").value = quiz_id;
        document.getElementById("updateForm").submit();
    }



</script>


