<!---- This is the page that only logged in users can see (QuizMasters) It is the landing page used to get to all of the
the other key functionlites  -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-light-blue.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>

<div class="w3-row-padding w3-center " style="margin-top: 5%">
<a href="/createquiz" >
    <div class="w3-third">
        <div class="w3-card w3-container" style="min-height:460px">
            <br><br>
            <h1>Create Quiz</h1><br>
            <i class="fa fa-edit w3-margin-bottom w3-text-theme" style="font-size:180px"></i>
        </div>
    </div>

</a>

<a href="/myQuiz">
    <div class="w3-third">
        <div class="w3-card w3-container" style="min-height:460px">
            <br><br>
            <h1>My Quizzes </h1><br>
            <i class="fa fa-user w3-margin-bottom w3-text-theme" style="font-size:180px"></i>
        </div>
    </div>
</a>

<a href="/overview">
    <div class="w3-third">
        <div class="w3-card w3-container" style="min-height:460px">
            <br><br>
            <h1>Analytics</h1><br>
            <i class="fa fa-bar-chart w3-margin-bottom w3-text-theme" style="font-size:180px"></i>
        </div>
    </div>
</a>
</div>
</body>
