.enter-quiz {
  width: 250px; /*can be in percentage also.*/
  height: auto;
  margin: 0 auto;
  position:relative;
  padding-top: 175px;
}
.display-4 {
  position: absolute;
  height: 150px;
  width: 100%;
  padding-top: 100px;
  margin-right: auto;
  margin-left: auto;
}

#top {
  padding-top: 80px;
}
