<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>

  <div class="container">
    <div class="container text-center">
    <div class="hero d-flex flex-column justify-content-center" full-page-hero>

      <div class="bordert" style="width:1042px;height:531px;position:relative;">
          <!--posting quiz code-->
          <form id="top" action="/takeQuiz">
              <h1 class="display-4" id="top">Enter  <strong>Quiz</strong> </h1>
            <div class="form-group">
                <div class="enter-quiz">

              <input type="form" method="post" class="form-control" id="quizCode" placeholder="Enter Code" name="code" required>
                </div>
            </div>
    </div>
    </div>
    </div>
  </div>
</div>

