<div align="center">
    <div id="take-quiz">
        <div class="container">
            <!--<div class="bordert" style="width:1042px;height:531px;position:relative;">-->
                <h1>Create Questions</h1>
                <div class="Quiz">
                    <form method="POST" action="/quiz/createquestions">
                        <input type="hidden" name="qm_id" value="<%= session.userId %>">
                        <!--query.id extracts the value id in the url and posts it to be used on the server side createquestions.js-->
                        <input type="hidden" name="code" id="code" value="<%- req.query.id %>">
                        <input type="hidden" name="q_id" id="q_id" value="<%- req.q_id%>">

                        <div class="form-group" id="opt">
                            <input class="form-control form-control-lg mt-4 col-lg-9 " id="question" type="text" name="question" placeholder="Question" required>
                        </div>
                        <form>
                        <div class="form-group pt-8" id="opt">
                            <input class="form-control col-lg-7 d-inline" id="answer" type="text" name="answer" placeholder="Option 1" required>
                            <input type="checkbox" name= "ans" id="is_correct" value="option_1" >

                        </div>
                            <div class="form-group t-5" id="opt">
                                <input class="form-control col-lg-7 d-inline" id="answer2" type="text" name="answer2" placeholder="Option 2" required>
                                <input type="checkbox" name= "ans2" id="is_correct" value="option_2">
                            </div>
                                <div class="form-group t-5" id="opt">
                                    <input class="form-control col-lg-7 d-inline" id="answer3" type="text" name="answer3" placeholder="Option 3">
                                    <input type="checkbox" name= "ans3" id="is_correct" value="option_3">
                                </div>
                                    <div class="form-group col-mt-12" id="opt">
                                        <input class="form-control col-lg-7 d-inline" id="answer4" type="text" name="answer4" placeholder="Option 4">
                                        <input type="checkbox" name= "ans4" id="is_correct" value="option_4">
                                    </div>
                          <div class="form-group d-inline t-5" id="opt">
                          <input type="hidden" id="save" name="save" value="0">
                          </div>


                              <button type="submit" value="submit" class="qbutton">Next</button>
                            <button type="submit" onclick="changeValue(document.getElementById('save'))"value="end" class="qbutton">Save and Review</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>

<script>
    /*Whatever boxes are checked changes the value to true in the DB*/
    var correct =document.querySelector('input[name="ans"]:checked').value;

    function changeValue() {
      document.getElementById("save").value = "1";
    }
</script>
