<div align="center">
    <div id="take-quiz">
        <div class="container">
           <!-- <div class="bordert" style="width:1042px;height:531px;position:relative;"> -->
                <h1>Create Quiz</h1>
                <div class="Quiz">
                    <!-- after it posts it goes to createquiz.js -->
                    <form  method="POST" action="/quiz/createquiz">
                        <!--The qm_id is passed to the controller to assign the quiz created to that specific id-->
                        <input type="hidden" name="qm_id" value="<%= session.userId %>">
                        <input class="form-control form-control-lg mx-auto mt-5" required id="quiz_name" type="text" name="quiz_name" placeholder="Title of Quiz" >
                        <div class="Q_n_Dash" style="display: inline-block; padding-top: 5%">
                            <button type="submit" value="submit" class="qbutton">Next</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>

