<!--This page allows the user to update the quiz name-->

<div align="center">
    <div id="take-quiz">
        <div class="container">
            <h1>Update Quiz</h1>
            <div class="Quiz">
                <!-- after it posts it goes to createquiz.js -->
                <form  method="POST" action="/quiz/updatequiz">
                    <input type="hidden" name="qm_id" value="<%= session.userId %>">
                    <input type="hidden" name="id" value="<%= req.query.id %>">
                    <input type="hidden" name="code" id="code" value="<%- req.query.id %>">
                    <input class="form-control form-control-lg mx-auto mt-5" required id="quiz_name" type="text" name="quiz_name" placeholder="Title of Quiz" value ="<%= quizName %>" >
                    <div class="Q_n_Dash" style="display: inline-block; padding-top: 5%">

                        <button type="submit" value="submit" class="qbutton">Add Questions</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>

<script>

</script>
