
<div id="take-quiz">
    <div class="container">
        <h1> TAKE QUIZ </h1>
        <div class="q-and-a">
            <hr/>

            <h2><p id="demo"></p></h2>
            <h3 id="question"><%= quest[0].question %></h3>
            <hr/>
            <div class="container" id ="answers">
                <button type="button" id="answer1" onclick="selection(document.getElementById('answer1'))" value="0" class="qButton"> </button><br/>
                <button type="button" id="answer2" onclick="selection(document.getElementById('answer2'))" value="1" class="qButton"> </button><br/>
                <button type="button" id="answer3" onclick="selection(document.getElementById('answer3'))" value="2" class="qButton"> </button><br/>
                <button type="button" id="answer4" onclick="selection(document.getElementById('answer4'))" value="3" class="qButton"></button><br/>
                <button type="button" id="update" onclick="testing()" class="qButton">Next Question</button>
            </div>
          <div id="status"></div>
          <div id="finish"></div>
        </div>
    </div>
    <form id="stats-form" method="POST" action="/quiz/insertstats">
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        <input id="quiz_id" name="quiz_id" type="hidden" value="420">
        <input id="question_id" name="question_id" type="hidden" value="11">
        <input id="selected_option" name="selected_option" type="hidden" value="22">
        <input id="is_correct" name="is_correct" type="hidden" value="true">
        <input id="time" name="time" type="hidden" value="10">
    </form>

    <!-- Results Modal -->
    <div class="modal" id="resultsModal">
        <div class="modal-content">
            <div class="navbar">
                    <img class="pull-left" src="/images/SAP_scrn_R.png" />
                <h1>Quiz Complete</h1>
            </div>
            <div class="modal-body">
                <span class="close">&times;</span>
                <h4 id="resultsPercentage">Percentage</h4>
                <h4 id="resultsCorrect">Correct Answers</h4>
                <h4 id="resultsIncorrect">Incorrect Answers</h4>
                <h4 id="resultsTime">Average Time: Total Time:</h4>
                <hr>
                <h5>
                <table class="table table-bordered table-striped table-hover table-condensed  text-center">
                    <thead class="samp">
                    <th>Question</th>
                    <th>Answered</th>
                    <th>Correct Answer</th>
                    </thead>
                    <tbody id ="showAns">

                    </tbody>
                </table></h5>
            </div>
            <div class="modal-footer">
                <h3 class="footerText" onclick="steveTest()">Click here to finish</h3>
            </div>
        </div>
    </div>
</div>

</body>

<script src="/js/dependencies/sails.io.js">
</script>

<script>
/*
@description :: This script controls all the logic for the take quiz a number of variables are received from the server as an array and
thus will need to be parsed in order to be used. Currently the logic works on the assumption that there will be 4
different options. This is achieved in a number of scenarios such as true/false by having two blank options inserted to
the options table.
This also controls the logic for the results modal that appears when a quiz is completed.
 */


    var QuestionCounter = 1;
    //var questionLength = parseInt("<%= quest.length%>");
    //var optionLength = parseInt("<%= possible.length%>");
    var questions = [];
    var questionIds = [];
    var optionIds = [];
    var options = [];
    var checks = [];
    var selectCount = [];
    var testCount = 0;
    var i = 0;
    var j = 1;
    //var p = 4;
    var b = 0; //To check if the selected answer is correct
    var t = 0; //copy above
    var CorrectCounter = 0;
    var WrongCounter = 0;
    var correct = [];
    var wrong = [];

    var statsQuizId = [];
    var statsQuestionId =[];
    var statsSelectedOption =[];
    var statsIsCorrect = [];
    var myVar = setInterval(myTimer, 1000);
    var statsTime = [];
    var statsQTimer = 0;
    var totalTimer = 0;
    var statsCounter = 0;
    var qCode = <%= qCode%>;
    var selectio = ['false','false','false','false'];
    var trackInstances = [];

    localStorage.setItem("qCode", qCode);



    //To place the questions and possible answers into arrays from the objects passed
    <%for(var i = 0; i< quest.length; i++) {%>
    questions.push("<%= quest[i].question.toString()%>");
    statsQuestionId.push("<%= quest[i].id.toString()%>");
    <%}%>
    <%for(var j = 0; j < possible.length; j++) {%>
    checks.push("<%= possible[j].is_correct.toString()%>");
    options.push("<%= possible[j].answer.toString()%>");
    optionIds.push("<%= possible[j].id.toString() %>");
    <% } %>
    document.getElementById("demo").innerHTML = "QUESTION: " + QuestionCounter;

    initialize();

    function initialize() {
        document.getElementById('answer1').innerHTML = options[i],i++;
        document.getElementById('answer2').innerHTML = options[i],i++;
        document.getElementById('answer3').innerHTML = options[i],i++;
        document.getElementById('answer4').innerHTML = options[i],i++;
    }

    function updateQuestions() {

        statsQTimer = 0;
        myVar = setInterval(myTimer, 1000);

        document.getElementById('question').innerHTML = questions[j],j++;

        document.getElementById('answer1').innerHTML = options[i],i++;
        document.getElementById('answer2').innerHTML = options[i],i++;
        document.getElementById('answer3').innerHTML = options[i],i++;
        document.getElementById('answer4').innerHTML = options[i];
        document.getElementById("demo").innerHTML = "QUESTION: " + (QuestionCounter+1);
        QuestionCounter++;
        clear();
        selectio = ['false','false','false','false'];

        if (options[i] == undefined) {
            showResults();
            //steveTest();
          document.getElementById("finish").innerHTML = "right answers: "+correct.length +  "\n" + "Wrong answers:"+ wrong.length +  "\n" +"percentage:" + (correct.length/(correct.length+wrong.length)*100)+ "%"  ;
        }
        i++;
    }

    function myTimer() {
        statsQTimer++;
        totalTimer++;
    }

    //darren practice
    //checks the position of the choich picked and compare if that is true or false
    function check(option) {

        statsTime[statsCounter] = statsQTimer;
        clearInterval(myVar);

      if (option == 0) {
        if (checks[b] === 'true') {


          correct[CorrectCounter] = checks[b];
          CorrectCounter++;
          statsSelectedOption[statsCounter] = optionIds[b];
          statsIsCorrect[statsCounter] = 1, statsCounter++;
        }
        else {
          wrong[WrongCounter] = checks[b];
          WrongCounter++;
            statsSelectedOption[statsCounter] = optionIds[b];
            statsIsCorrect[statsCounter] = 0, statsCounter++;
        }
      }
      else if (option == 1) {
        if (checks[b + 1] === 'true') {
          correct[CorrectCounter] = checks[b+1];
          CorrectCounter++;
          statsSelectedOption[statsCounter] = optionIds[b+1];
            statsIsCorrect[statsCounter] = 1, statsCounter++;
        }
        else {
          wrong[WrongCounter] = checks[b+1];
          WrongCounter++;
          statsSelectedOption[statsCounter] = optionIds[b+1];
            statsIsCorrect[statsCounter] = 0, statsCounter++;

        }

      }
      else if (option == 2) {
        if (checks[b + 2] === 'true') {
          correct[CorrectCounter] = checks[b+2];
          CorrectCounter++;
          statsSelectedOption[statsCounter] = optionIds[+2];
            statsIsCorrect[statsCounter] = 1, statsCounter++;
        }
        else {
          wrong[WrongCounter] = checks[b+2];
          WrongCounter++;
          statsSelectedOption[statsCounter] = optionIds[b+2];
            statsIsCorrect[statsCounter] = 0, statsCounter++;

        }

      }
      else if (option == 3) {
        if (checks[b + 3] === 'true') {

          correct[CorrectCounter] = checks[b+3];
          CorrectCounter++;
          statsSelectedOption[statsCounter] = optionIds[b+3];
            statsIsCorrect[statsCounter] = 1, statsCounter++;
        }
        else {

          wrong[WrongCounter] = checks[b+3];
          WrongCounter++;
          statsSelectedOption[statsCounter] = optionIds[b+3];
            statsIsCorrect[statsCounter] = 0, statsCounter++;

        }

      }
      b = b + 4; // moves 4 to go to the next question
      //updateQuestions(); //use update question function
      saveQuiz();

    }
    questionIds = statsQuestionId;

    function saveQuiz() {
        //document.getElementById('stats-form').
        document.getElementsByName("quiz_id").value = ["1", "2", "3"];
        for(var i = 0; i < options.length; i++){
            $('#hello').append("<input name='quiz_id' value='<%= quest[0].q_id %>'>");
        }
        //document.getElementById('hello').innerHTML("<input name='quizId' type='hidden' value='<%= quest[0].quiz_code %>'>");
        //document.getElementById('hello').innerHTML("<input name='quizId' value='<%= quest[0].quiz_code %>'>");
        //document.getElementById('hello').innerHTML("<input name='quizId' value='<%= quest[0].quiz_code %>'>");

    }

    function steveTest() {
        document.getElementById("quiz_id").value = qCode;
        document.getElementById("question_id").value = statsQuestionId;
        document.getElementById("selected_option").value = statsSelectedOption;
        document.getElementById("is_correct").value = statsIsCorrect;
        document.getElementById("time").value = statsTime;
        document.getElementById("stats-form").submit();
    }

    function selection(select){

      if(select.style.color === 'black') {
        select.style.color = 'white';
        select.style.background = '#444444';
      }else{
        select.style.color = 'black';
        select.style.background = '#3399ff';
      }

      if (select.value == 0 && select.style.color === 'black') {

        selectio[0] = 'true';

      }
        else if(select.value == 0 && select.style.color === 'white'){
        selectio[0] = 'false';

      }
      if (select.value == 1 && select.style.color === 'black') {

        selectio[1] = 'true';

      }
      else if(select.value == 1 && select.style.color === 'white'){
        selectio[1] = 'false';
      }
      if (select.value == 2 && select.style.color === 'black') {

        selectio[2] = 'true';
      }
      else if(select.value == 2 && select.style.color === 'white'){
        selectio[2] = 'false';
      }
      if (select.value == 3 && select.style.color === 'black') {

        selectio[3] = 'true';
      }
      else if(select.value == 3 && select.style.color === 'white'){
        selectio[3] = 'false';
      }

      }

      function clear(){

        document.getElementById('answer1').style.color = 'white';
        document.getElementById('answer2').style.color = 'white';
        document.getElementById('answer3').style.color = 'white';
        document.getElementById('answer4').style.color = 'white';
        document.getElementById('answer1').style.background = '#444444';
        document.getElementById('answer2').style.background = '#444444';
        document.getElementById('answer3').style.background = '#444444';
        document.getElementById('answer4').style.background = '#444444';
    }

      function testing(){
        var y =0;
          if(selectio[y] == checks[b] && selectio[y + 1] == checks[b + 1] &&
            selectio[y+ 2] == checks[b + 2] && selectio[y + 3] == checks[b + 3]){
            for(y=0;y<4;y++){
              if(selectio[y]=='true'){
                check(y);
                updateQuestions();
              }
            }

          }else if (checks[b] == 'false'){
                check(0);
            updateQuestions();
            }else if (checks[b+1] == 'false'){
            check(1);
            updateQuestions();
          }else if (checks[b+2] == 'false'){
            check(2);
            updateQuestions();}

          else if (checks[b+3] == 'false') {
            check(3);
            updateQuestions();
          }



      }





    function showResults() {
        document.getElementById("resultsCorrect").innerText = "Correct Answers:      \t\t" + correct.length;
        document.getElementById("resultsIncorrect").innerText = "Incorrect Answers:  \t\t" + wrong.length;
        document.getElementById("resultsPercentage").innerText = "Percentage:    " + (correct.length/questions.length)*100+"%" ;
        document.getElementById("resultsTime").innerText = "Total Time: " + totalTimer + "\n       Average Time:  " + totalTimer/questions.length;

        fillTable();
        // Get the modal
        var modal = document.getElementById('resultsModal');
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        // When the user clicks on the button, open the modal
        modal.style.display = "block";
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            steveTest();
            //modal.style.display = "none";

        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                steveTest();
                //modal.style.display = "none";

            }
        }
    }
    function findIndexs() {
        var countTrack = 0;
        var temp = 0;
        for(var i = 0; i < checks.length; i += 4){
            for(var j = 0; j < 4; j++) {
                if (checks[i + j] === 'true') {
                    temp++;
                    selectCount.push((i + j));
                }
            }
            trackInstances.push(temp);
            temp = 0;
            }
    }

    function fillTable() {
        findIndexs();
        var table = document.getElementById("showAns");
        var t2 = 0;
        for(var i = 0; i < questions.length; i++)
        {
            var temp = i + 1;
            var row = table.insertRow(i);
            row.insertCell(0).innerHTML = "Question: " +  temp;
            if(statsIsCorrect[i] == 1) {
                row.insertCell(1).innerHTML = "✔";
                t2++;
            }
            else {
                row.insertCell(1).innerHTML = "✘";
                    if(trackInstances[i] > 1)
                    {
                        var test = [];
                        for(var j = t2; j <= trackInstances[i] - 1; j++)
                        {

                            test.push(options[selectCount[t2]]);
                            t2++;
                        }
                        row.insertCell(2).innerHTML = test;

                    }
                    else {
                        row.insertCell(2).innerHTML = options[selectCount[t2]];
                        t2++;
                    }
            }
        }
    }


</script>


<%- exposeLocalsToBrowser() %>
