<div class = "center12" style="margin: 0 auto">
    <div class="table-responsive col-md-12">
        <table class="table table-bordered table-striped table-hover table-condensed  text-center" id="DyanmicTable" >
            <h1>Update Quiz: <%= name%></h1>
            <thead>
                <th class="w-30">Questions</th>
                <th class="w-50">Answers</th>
                <th class="w-5">Correct</th>
                <th class="w-5">Edit</th>
            </thead>
            <tbody>
                <%for(var i = 0; i < options.length;i++) {%>
                    <tr>
                        <td><%=questions[i/4]%></td>
                        <td><%=options[i]%></td>
                        <td><%=correct[i]%></td>
                        <td> <i class="fa fa-edit" style="font-size:30px" onclick="updateQuestion('<%=i%>')" ></i></td>
                    </tr>
                <%}%>
            </tbody>
        </table>
    </div>
</div>

<script>
    function updateQuestion(value) {
        var question = [];
        <%for(var i = 0; i < questions.length; i++){%>
        question.push(<%=questions[i]%>);<%}%>
        var option = [<%=options%>];
        var correct = [<%=correct%>];
        console.log("YYY" + question[parseInt(value)] + option[parseInt(value)] + correct[parseInt(value)]);
    }
</script>