<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"></link>
    <title>Stats</title>
</head>
<body>
<div style="width: 95%; height: 100%; margin-right: auto; margin-left: auto; padding-top: 1%">
    <table width="100%" border="1" >
        <tr>
            <td width="50%" >
                    <table class="table table-bordered table-striped table-hover table-condensed  text-left" id="statsTable" style="padding-top: 0px">
                        <th>
                            <h2 style="text-align: center">Analytics for quiz: <%=quizCode%></h2>
                        </th>
                        <tr>
                            <td>
                                Average Score: <%=bundled[0]%>
                            </td>
                        </tr>
                        <tr>
                            <td>Average Percentage: <%=bundled[0]/sample.length*100%>%</td>
                        </tr>
                        <tr>
                            <td>Total number of attempts: <%=bundled[1]%></td>
                        </tr>
                        <tr>
                            <td>Average time taken on quiz: <%=bundled[2]%></td>
                        </tr>
                        <tr>
                            <td>Average time per question(Overall): <%=bundled[2]/sample.length%></td>
                        </tr>
                </table>
            </td>
            <td width="50%">
                <canvas id="percentage"></canvas>
            </td>
        </tr>
        <tr>
            <td width="50%"><canvas id="TimeTaken"></canvas></td>
            <td width="50%">
                <canvas id="longest"></canvas>
            </td>
        </tr>
    </table>
</div>

</body>

<script>
    /*
    * This is the view for the individual quiz analytics. it takes the bundled data from the server and displays them on
    * graphs which are done using Chart.js. There is logic to generate the labels dynamically but colors still need to
    * be implemented. The documentation fro chart.js can be found here http://www.chartjs.org/docs/latest/. A small
    * box is used to portray individual statistics such as quiz percentage. This is done above in the html/ejs.
     */

    let percentage = document.getElementById('percentage').getContext('2d');
    let times = document.getElementById('TimeTaken').getContext('2d');
    let long = document.getElementById('longest').getContext('2d');

    var sampledata = [<%=sample%>];
    var labelData = [];
    var percentages = [];
    var questionTimes = [<%=averageTimeQs%>];
    var longestTimes = [<%=longestTimeQs%>];
    var test = [];

    for(var i = 0; i < questionTimes.length; i++){
        questionTimes[i] = questionTimes[i]/<%=attempts%>;
    }

    for(var i = 0; i < sampledata.length; i++) {
        var temp = 'Q';
        var temp2 = i + 1;
        temp = temp.concat(temp2.toString());
        labelData.push(temp);

        percentages.push((sampledata[i]/<%=attempts%>*100));
    }
    console.log(temp);
    let massPopChart = new Chart(percentage, {
        type: 'bar',
        data: {
            labels: labelData,
            datasets: [{
                label: 'Average Score',
                data: percentages,
                backgroundColor:[
                    'rgba(244, 196, 65,0.6)',
                    'rgba(204,57,72,0.6)',
                    'rgba(57,189,204,0.6)',
                    'rgba(57,79,204,0.6)',
                    'rgba(57,204,60,0.6)',
                    'rgba(57,204,90,0.6)',
                    'rgba(5,204,60,0.6)',
                    'rgba(57,100,100,0.6)',
                    'rgba(5,255,60,0.6)',
                    'rgba(50,200,80,0.6)',
                    'rgba(244, 196, 65,0.6)',
                    'rgba(204,57,72,0.6)',
                    'rgba(57,189,204,0.6)',
                    'rgba(57,79,204,0.6)',
                    'rgba(57,204,60,0.6)',
                    'rgba(57,204,90,0.6)',
                    'rgba(5,204,60,0.6)',
                    'rgba(57,100,100,0.6)',
                    'rgba(5,255,60,0.6)',
                    'rgba(50,200,80,0.6)'

                ]
            },
            {
                label: 'no. answered correct',
                data: sampledata,
                backgroundColor:[
                    'rgba(57,204,90,0.6)',
                    'rgba(5,204,60,0.6)',
                    'rgba(57,100,250,0.6)',
                    'rgba(5,255,60,0.6)',
                    'rgba(50,200,80,0.6)',
                    'rgba(244, 196, 65,0.6)',
                    'rgba(204,57,72,0.6)',
                    'rgba(57,189,204,0.6)',
                    'rgba(57,79,204,0.6)',
                    'rgba(57,204,60,0.6)',
                    'rgba(244, 196, 65,0.6)',
                    'rgba(204,57,72,0.6)',
                    'rgba(57,189,204,0.6)',
                    'rgba(57,79,204,0.6)',
                    'rgba(57,204,60,0.6)',
                    'rgba(57,204,90,0.6)',
                    'rgba(5,204,60,0.6)',
                    'rgba(57,100,100,0.6)',
                    'rgba(5,255,60,0.6)',
                    'rgba(50,200,80,0.6)'


                ]
            }

            ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            },
            title: {
            display: true,
            text: 'Average score per question(percentage)'
            }
        }
    });

    let massPopChart2 = new Chart(times, {
        type: 'pie',
        data: {
            labels: labelData,
            datasets: [{
                label: 'Time Taken',
                data: questionTimes,
                backgroundColor:[
                    'rgba(244, 196, 65,0.6)',
                    'rgba(204,57,72,0.6)',
                    'rgba(57,189,204,0.6)',
                    'rgba(57,79,204,0.6)',
                    'rgba(57,204,60,0.6)',
                    'rgba(57,204,90,0.6)',
                    'rgba(5,204,60,0.6)',
                    'rgba(57,100,100,0.6)',
                    'rgba(5,255,60,0.6)',
                    'rgba(50,200,80,0.6)',
                    'rgba(244, 196, 65,0.6)',
                    'rgba(204,57,72,0.6)',
                    'rgba(57,189,204,0.6)',
                    'rgba(57,79,204,0.6)',
                    'rgba(57,204,60,0.6)',
                    'rgba(57,204,90,0.6)',
                    'rgba(5,204,60,0.6)',
                    'rgba(57,100,100,0.6)',
                    'rgba(5,255,60,0.6)',
                    'rgba(50,200,80,0.6)'

                ]
            }
            ]
        },
        options: {

            title: {
            display: true,
            text: 'Average time taken per question(seconds)'
            }
        }
    });

    let massPopChart3 = new Chart(long, {
        type: 'doughnut',
        data: {
            labels: labelData,
            datasets: [{
                label: 'Time Taken',
                data: longestTimes,
                backgroundColor:[
                    'rgba(244, 196, 65,0.6)',
                    'rgba(204,57,72,0.6)',
                    'rgba(57,189,204,0.6)',
                    'rgba(57,79,204,0.6)',
                    'rgba(57,204,60,0.6)',
                    'rgba(57,204,90,0.6)',
                    'rgba(5,204,60,0.6)',
                    'rgba(57,100,100,0.6)',
                    'rgba(5,255,60,0.6)',
                    'rgba(50,200,80,0.6)',
                    'rgba(244, 196, 65,0.6)',
                    'rgba(204,57,72,0.6)',
                    'rgba(57,189,204,0.6)',
                    'rgba(57,79,204,0.6)',
                    'rgba(57,204,60,0.6)',
                    'rgba(57,204,90,0.6)',
                    'rgba(5,204,60,0.6)',
                    'rgba(57,100,100,0.6)',
                    'rgba(5,255,60,0.6)',
                    'rgba(50,200,80,0.6)'

                ]
            }
            ]
        },
        options: {

            title: {
            display: true,
            text: 'Longest time taken per question'
            }
        }
    });

</script>