<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"></link>
    <title>Stats</title>
</head>
<body>
<div style="width: 95%; height: 100%; margin-right: auto; margin-left: auto; padding-top: 1%">
    <h2 style="text-align: center">Showing stats for: <%=user%></h2>
    <table width="100%" border="1" >
        <tr>
            <th style="text-align: center">Average score per quiz</th>
            <th style="text-align: center">Average time spent on quiz</th>
        </tr>
        <tr>
            <td width="50%" height="100%"><canvas id="score"></canvas></td>
            <td width="50%" height="100%"><canvas id="time"></canvas></td>
        </tr>
    </table>
</div>
<div style="width: 95%; height: 100%; margin-right: auto; margin-left: auto; padding-top: 1%; text-align: center">
    <a href="/myquiz">Click here for individual quiz</a>
</div>

</body>

<script>
    /*
    * This is the view for the overview quiz analytics. it takes the  data from the server and displays them on
    * graphs which are done using Chart.js. There is logic to generate the labels dynamically but colors still need to
    * be implemented. The documentation for chart.js can be found here http://www.chartjs.org/docs/latest/. This page
    * allows quiz creators to compare their quizes against each other.
     */

    let score = document.getElementById('score').getContext('2d');
    let time = document.getElementById('time').getContext('2d');

    var scores =[<%=quizScores%>];
    var times = [<%=quizTimes%>];
    var labelData = [];
    
    generateLabels();

    let massPopChart2 = new Chart(score, {
        type: 'bar',
        data: {
            labels: labelData,
            datasets: [{
                label: 'Average score',
                data: scores,
                backgroundColor:[
                    'rgba(244, 196, 65,0.6)',
                    'rgba(204,57,72,0.6)',
                    'rgba(57,189,204,0.6)',
                    'rgba(57,79,204,0.6)',
                    'rgba(57,204,60,0.6)',
                    'rgba(57,204,90,0.6)',
                    'rgba(5,204,60,0.6)',
                    'rgba(57,100,100,0.6)',
                    'rgba(5,255,60,0.6)',
                    'rgba(50,200,80,0.6)',
                    'rgba(244, 196, 65,0.6)',
                    'rgba(204,57,72,0.6)',
                    'rgba(57,189,204,0.6)',
                    'rgba(57,79,204,0.6)',
                    'rgba(57,204,60,0.6)',
                    'rgba(57,204,90,0.6)',
                    'rgba(5,204,60,0.6)',
                    'rgba(57,100,100,0.6)',
                    'rgba(5,255,60,0.6)',
                    'rgba(50,200,80,0.6)'

                ]
            }
            ]
        },
        options: {

            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            },
            title: {
                display: true,
                text: 'Average score per quiz(percentage)'
            }
        }
    });

    let massPopChart = new Chart(time, {
        type: 'bar',
        data: {
            labels: labelData,
            datasets: [{
                label: 'Time Taken',
                data: times,
                backgroundColor:[
                    'rgba(244, 196, 65,0.6)',
                    'rgba(204,57,72,0.6)',
                    'rgba(57,189,204,0.6)',
                    'rgba(57,79,204,0.6)',
                    'rgba(57,204,60,0.6)',
                    'rgba(57,204,90,0.6)',
                    'rgba(5,204,60,0.6)',
                    'rgba(57,100,100,0.6)',
                    'rgba(5,255,60,0.6)',
                    'rgba(50,200,80,0.6)',
                    'rgba(244, 196, 65,0.6)',
                    'rgba(204,57,72,0.6)',
                    'rgba(57,189,204,0.6)',
                    'rgba(57,79,204,0.6)',
                    'rgba(57,204,60,0.6)',
                    'rgba(57,204,90,0.6)',
                    'rgba(5,204,60,0.6)',
                    'rgba(57,100,100,0.6)',
                    'rgba(5,255,60,0.6)',
                    'rgba(50,200,80,0.6)'

                ]
            }
            ]
        },
        options: {

            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            },
            title: {
                display: true,
                text: 'Average time taken per quiz(seconds)'
            }
        }
    });
    
    function generateLabels() {
        var ids = [<%=quizIDs%>];
        for(var i = 0; i < ids.length; i++){
            var temp = "Quiz ";
            var temp2 = ids[i];
            temp = temp.concat(temp2.toString());
            labelData.push(temp);
        }
        
    }
</script>